<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajouter Etudiant</h4>
                      <p class="card-category">Veuillez remplir ces champs</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              
                              
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nom" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Prénom" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Numéro inscription" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Groupe" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                         
                     
                          
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Valider </button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="https://cdn-icons-png.flaticon.com/512/6681/6681204.png" />
                      </a>
                  </div>
                  <div class="card-body">
                      
                      <h4 class="card-title"> </h4>
                   
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Insérer la Photo ?</a>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
